<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find my_bot_gazebo)/src/walls_env.world"/>
    </include>
    <param name="robot_description" textfile='$(find my_bot_description)/my_2wheel_bot/model.sdf'/><!--Including bot-->
    <arg name="robot_name" value="my_2wheel_bot"/>
    <arg name="x" default="5"/>
    <arg name="y" default="1.3"/>
    <arg name="z" default="0"/>
    <arg name="roll" default="0"/>
    <arg name="pitch" default="0"/>
    <arg name="yaw" default="0"/>

    <node name="my_2wheel_bot" pkg="gazebo_ros" type="spawn_model" output="screen" respawn="false"
          args="-sdf -param robot_description -model $(arg robot_name) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>

</launch>



